body {
    background-color: #263238;
    color: #ffffff;
}
h1 a {
    color: #ffffff;
    text-decoration: none;
}
#sisalto {
    font-family: 'Uncial Antiqua';
    width: 400px;
    margin: 0px auto;
    text-align: center;
    overflow: auto;
}
#copyright {
    font-family: 'Ubuntu';
    font-size: 0.85em;
    width: 400px;
    margin: 0px auto 10px auto;
    border-top: 1px solid white;
    padding-top: 15px;
    text-align: center;
}
#copyright a {
    color: #ff6f00;
}
#ylapalkki {
    padding: 5px;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 18px;
}
#ylapalkkivasen {
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 15px;
}
#ypalkkioikea {
    width: 35%;
    float: right;
    text-align: right;
    padding-right: 15px;
}
#asetusnappi {
    background-color: #ff6f00;
    color: #ffffff;
    text-decoration: none;
    padding: 2px 5px;
    vertical-align: middle;
    display: inline-flex;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#asetukset {
    background-color: #ffffff;
    color: #ff6f00;
    width: 90%;
    margin: auto;
    text-align: left;
    display: none;
}
#asetuksetsis {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.9em;
    overflow: auto;
}
.valinnat {
    margin: 15px auto;
}
#huom {
    font-family: 'Ubuntu';
    color: #263238;
    text-align: center;
    display: none;
}
#jae_arvaus {
    padding: 5px;
    overflow: hidden;
    margin: 15px 0px;
}
#jae {
    width: 70%;
    float: left;
    text-align: left;
    padding-left: 15px;
    font-family: 'Ubuntu';
    font-size: 0.85em;
}
#arvaus {
    width: 15%;
    float: right;
    text-align: right;
    padding-right: 15px;
}
#syote {
    width: 100%;
    box-sizing : border-box;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.palaute {
    padding: 10px;
    border-top: 1px solid white;
    overflow: auto;
}
.tulos {
    width: 100%;
    text-align: center;
}
.kysyttyjae {
    width: 49%;
    float: left;
    text-align: left;
    font-family: 'Ubuntu';
    font-size: 0.85em;
}
.syotejavastaus {
    width: 49%;
    float: right;
    text-align: right;
    font-family: 'Ubuntu';
    font-size: 0.85em;
}
.otsikko {
    width: 100%;
    font-family: 'Ubuntu';
    font-weight: bold;
    margin-top: 10px;
}
