body {
    background-color: #263238;
    color: #ffffff;
}
h1 a {
    color: #ffffff;
    text-decoration: none;
}
#sisalto {
    font-family: 'Uncial Antiqua';
    width: 400px;
    margin: 0px auto;
    text-align: center;
    overflow: auto;
}
#copyright {
    font-family: 'Ubuntu';
    font-size: 0.85em;
    width: 400px;
    margin: 0px auto 10px auto;
    border-top: 1px solid white;
    padding-top: 15px;
    text-align: center;
}
#copyright a {
    color: #ff6f00;
}
#ylapalkki {
    padding: 5px;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 18px;
}
#ypalkkivasen {
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 15px;
}
#arvottu {
    vertical-align: middle;
    display: inline-flex;
}
#ypalkkioikea {
    width: 35%;
    float: right;
    text-align: right;
    padding-right: 15px;
}
#vihje {
    background-color: #ff6f00;
    color: #ffffff;
    text-decoration: none;
    padding: 2px 5px;
    vertical-align: middle;
    display: inline-flex;
    margin-right: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#asetusnappi {
    background-color: #ff6f00;
    color: #ffffff;
    text-decoration: none;
    padding: 2px 5px;
    vertical-align: middle;
    display: inline-flex;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#asetukset {
    background-color: #ffffff;
    color: #ff6f00;
    width: 90%;
    margin: auto;
    text-align: left;
    display: none;
}
#asetuksetsis {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9em;
    overflow: auto;
}
.valinnat {
    margin: 15px auto;
}
#moodi-info {
    font-family: 'Ubuntu';
    color: #263238;
    margin-left: 5px;
}
#huom {
    font-family: 'Ubuntu';
    color: #263238;
    text-align: center;
    display: none;
}
#kentta {
    margin: 10px 0px 20px 0px;
}
#syote {
    width: 90%;
    height: 100px;
    font-family: 'Ubuntu';
}
.palaute {
    padding: 10px;
    border-top: 1px solid white;
    overflow: auto;
}
.vasenpalsta {
    width: 50%;
    float: left;
    text-align: left;
}
.oikeapalsta {
    width: 50%;
    float: left;
    text-align: right;
}
.vasenjae {
    width: 49%;
    float: left;
    text-align: left;
    font-family: 'Ubuntu';
    font-size: 0.85em;
    margin-top: 5px;
}
.oikeajae {
    width: 49%;
    float: right;
    text-align: left;
    font-family: 'Ubuntu';
    font-size: 0.85em;
    margin-top: 5px;
}
.otsikko {
    width: 100%;
    text-align: left;
    font-family: 'Ubuntu';
    font-weight: bold;
}
