body {
    background-color: #263238;
    color: #ffffff;
}
#sisalto {
    font-family: 'Uncial Antiqua';
    width: 400px;
    margin: 10px auto 10px auto;
    text-align: center;
    overflow: auto;
}
#nappi {
    background-color: #ff6f00;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 5px;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 24px;
    display: block;
    width: 60%;
}
