body {
    background-color: #263238;
    color: #ffffff;
}
#sisalto {
    font-family: 'Uncial Antiqua';
    width: 400px;
    margin: 10px auto 10px auto;
    text-align: center;
    overflow: auto;
}
#copyright {
    font-family: 'Ubuntu';
    font-size: 0.85em;
    width: 400px;
    margin: 10px auto 10px auto;
    border-top: 1px solid white;
    padding-top: 15px;
    text-align: center;
}
#copyright a {
    color: #ff6f00;
}
#jae_arvaus {
    padding: 5px;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 18px;
}
#jae {
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 15px;
}
#arvaus {
    width: 35%;
    float: right;
    text-align: right;
    padding-right: 15px;
}
#syote {
    display: inline-flex;
}
.palaute {
    padding: 10px;
    border-top: 1px solid white;
    overflow: auto;
}
.vasenpalsta {
    width: 50%;
    float: left;
    text-align: left;
}
.oikeapalsta {
    width: 50%;
    float: left;
    text-align: right;
}
.vasenjae {
    width: 49%;
    float: left;
    text-align: left;
    font-family: 'Ubuntu';
    font-size: 0.85em;
    margin-top: 5px;
}
.oikeajae {
    width: 49%;
    float: right;
    text-align: left;
    font-family: 'Ubuntu';
    font-size: 0.85em;
    margin-top: 5px;
}
.otsikko {
    width: 100%;
    text-align: left;
    font-family: 'Ubuntu';
    font-weight: bold;
}
